---
ospool:
  path: htc_workloads/containers/predefined.md
path:
  path: htc_workloads/containers/available-containers-list.md
---

Existing OSPool-Supported Containers 
====================================

This is list of commonly used containers in the Open Science Pool. These can be used
directly in your jobs or as base images if you want to define your own.

$table

[container-apptainer]: ../../../htc_workloads/using_software/containers-singularity/
[container-docker]: ../../../htc_workloads/using_software/containers-docker/

